@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%;
  background-color: rgb(235, 235, 235);
  padding: 1rem;
}

body {
  background-color: white;
  font-size: 1.6rem;
  max-width: 96rem;
  margin: 5rem auto;
  padding: 4rem;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

picture {
  display: flex;
  justify-content: center;
  width: 100%;
}

img {
  max-width: 98%;
}

h1,
h2,
h3,
h4 {
  margin: 5rem 0 1.5rem 0;
}

p {
  margin: 1.5rem 0;
}

li {
  margin-left: 2rem;
}

code {
  background-color: rgb(20, 20, 49);
  color: rgb(169, 169, 169);
  border: 0.7rem solid black;
  display: block;
}
